body, html {
    height: 100%;
    width: 1040px;
    margin: 0 auto;
    background-color: #392613;
    color: #FFF;
}

#container {
    background-color: #392613;
    color: #FFF;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    margin: 0 auto;
}

#navbar>.navbar-nav>li>a {
    color: #FFF;
    font-size: 18px;
}

nav .svg-inline--fa {
    font-size: 35px;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: #392613 !important;
}

.carousel-control.right, .carousel-control.left {
    background: 0 !important;
}

.carousel-caption h3, .carousel-caption p {
    color: #C08040;
}

.carousel-caption p {
    font-size: 20px;
}

.space {
    margin-top: 5em;
}

.booking {
    margin-top: 15em;
}

.omos {
    font-size: 17px;
}

.knap {
    background-color: #f1e8e8;
    color: #000
}

.formular input, .formular textarea {
    background-color: #392613 !important;
    border-color: #FFF;
    margin-bottom: 10px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.table>tbody>tr>td {
    border-top-color: #392613 !important;
}

.billeder {
    padding-bottom: 40px;
}

.produkter {
    margin-bottom: 10px;
}

footer {
    text-align: center!important;
}
.navbar-toggle{
    border: 1px solid #FFF !important; 
}
.icon-bar{
    background-color:#FFF !important
}
textarea{
    resize: none
}

@media screen and (max-width: 480px){
  p, td{
      font-size:26px;
  }  
  h4, h3, h2{
      font-size:32px !important;
  }
  label{
      font-size: 20px;
  }
} 